.message-box {
  list-style-type: none;
  height: 600px;
  overflow-y: scroll;
  margin: 0;
  padding: 10px;
}

.message-box li {
  margin-top: 20px;
}

.message-box li span {
  padding-right: 8px;
  font-weight: bold;
}
